
<div class="profile" *ngIf="!editMode; else editModeBlock">
    <p>Name: {{ profile.name }} </p>
    <p>Bio: {{ profile.description }}</p>
    <img src='{{ profile.image_path }}' alt="Image can't load">
    <p>Likes: {{ profile.total_likes }}</p>
    <button class="profileButton" (click)="addLike()">Like</button>
    <button class="deleteButton" (click)="deleteProfile()">Delete</button>
    <button class="editModeButton" (click)="editMode = !editMode">Edit</button>
</div>

<ng-template #editModeBlock>
    <div class="profileInEditMode">
        <input #newName type="text" [value]="profile.name"><br><br>
        <input #newDes type="text" [value]="profile.description"><br><br>
        <input #newPath type="text" [value]="profile.image_path"><br><br>
        <img src='{{ profile.image_path }}' alt="Image can't load"><br><br>
        <button class="saveButton" (click)="saveChanges(newName.value, newDes.value, newPath.value)">Save</button>       
    </div>
</ng-template>